#main-menu {
    position: sticky;
    top: 0;
    font-weight: 500;
    background: #fff;
    box-shadow: 0 0 4px #0004;
    z-index: 9;
}

#main-menu nav {
    width: 90%;
    max-width: var(--site-width);
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
}

#main-menu .home {
    font-family: "Balthazar", sans-serif;
    font-size: 2rem;
    flex-grow: 1;
}

.menu-item {
    position: relative;
    text-decoration: none;
    /* text-transform: uppercase; */
    border-radius: 2px;
    color: inherit;
    padding: 20px 15px;
    transition: background 100ms;
}

.menu-item:hover:not(.home) {
    background: #f0f0f0;
}

.menu-close {
    display: none;
}

@media (max-width: 1024px) {
    .menu-close {
        display: block;
    }

    #main-menu {
        width: 100vw;
        position: fixed;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        background: transparent;
        box-shadow: none;
        pointer-events: none;
        z-index: 10;
    }

    #main-menu nav {
        transition: transform 400ms ease-in-out;
        transform: translateY(-100%);
        padding: 10vw 10vw 7vw;
        background: var(--color-light);
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
        pointer-events: all;
        box-shadow: 0 0 3px #0006;
    }

    #main-menu.open nav {
        transform: translateY(0);
    }

    #main-menu .home {
        margin-bottom: 15px;
        font-size: 3rem;
    }

    .menu-close {
        text-align: right;
        cursor: pointer;
    }

    .menu-item {
        font-size: 1.3rem;
        grid-column: span 2;
        padding: 0;
        margin-bottom: 15px;
    }

    .menu-item:hover {
        background: transparent;
    }
}