#topbar {
    position: relative;
    width: 100%;
    background: var(--color-light);
    text-align: center;
    z-index: 10;
}

#topbar .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #121212;
}

#topbar .content>* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0 5px;
}

#topbar button {
    cursor: pointer;
    background: #0005;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    transition: background 100ms;
}

#topbar button:hover {
    background: #0007;
}