<div class="blurb">
    <a href="{{ .Params.link }}" class="thumbnail">
        {{ partial "image" (dict "src" .Params.image "thumb" "30x20" "full" "640x400 q70") }}
    </a>
    <h4 class="title">{{ .Params.title }}</h4>
    <p>{{ .Inner }}</p>
    <div class="button center">
        <a href="{{ .Params.link }}">{{ .Params.button }}</a>
    </div>
</div>
