<section class="full-width secondary">
  <h3 class="call-subtitle">{{ .Params.top }}</h3>
  <h2 class="call-title">{{ .Params.bottom }}</h2>
  <a class="steps" href="/sign-up/">
    {{ .Inner }}
  </a>
  {{partial "button" (dict "class" "center" "text" .Params.button "href" .Params.link )}}
</section>
