<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">


    {{ if .Params.Private }}
    <meta name="robots" content="noindex,nofollow">
    {{ end }}

    {{ $scratch := newScratch }}

    {{ if .Params.Image }}
    {{ $scratch.Set "image" .Params.Image }}
    {{ else }}
    {{ $scratch.Set "image" "img/home-cover.jpg" }}
    {{ end }}

    {{ $image := resources.Get ($scratch.Get "image") }}
    {{ $image := $image.Fill "1200x1200 q80"  }}
    {{ $scratch.Set "image" $image.Permalink }}



    {{ $scratch.Set "title" .Title }}
    {{ if not .IsHome }}
    {{ $scratch.Set "title" (printf "%s — %s" .Title .Site.Home.Title) }}
    {{ end }}

    {{ if .Params.Description }}
    {{ $scratch.Set "description" .Params.Description }}
    {{ else }}
    {{ $scratch.Set "description" .Site.Home.Description }}
    {{ end }}

    <!-- Primary Meta Tags -->
    <title>{{ $scratch.Get "title" }}</title>
    <meta name="title" content='{{ $scratch.Get "title" }}'>
    <meta name="description" content='{{ $scratch.Get "description" }}'>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content='{{ $scratch.Get "title" }}'>
    <meta property="og:description" content='{{ $scratch.Get "description" }}'>
    <meta property="og:image" content='{{ $scratch.Get "image" }}'>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content='{{ $scratch.Get "title" }}'>
    <meta property="twitter:description" content='{{ $scratch.Get "description" }}'>
    <meta property="twitter:image" content='{{ $scratch.Get "image" }}'>

    {{partial "header/styles"}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174061678-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-174061678-1');
    </script>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>

    <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" defer></script>
    <script src="/js/parallax.min.js" defer></script>

    <!-- https://micromodal.now.sh/ -->
    <script src="/js/micromodal.min.js" defer></script>

    <!-- Babel runtime -->
    <script src="https://unpkg.com/regenerator-runtime@0.13.7/runtime.js" defer></script>

    {{ $opts := dict "minified" true }}
    {{- $js := resources.Get "js/main.js" | babel $opts -}}
    <script src="{{$js.Permalink}}" defer></script>
</head>

<body class="{{ .Kind }}">
    {{partial "header/topbar" .}}
    {{partial "header/main-menu" .}}
    <div id="site-title">
        {{ partial "image" (dict "src" "/img/logo.png" "full" "675x202 q100") }}
        <button id="mobile-menu-open">
            <img src="/img/menu.svg" alt="">
        </button>
    </div>
    <main>
        {{block "main" .}}{{end}}
    </main>
    {{partial "footer/footer" .}}

    {{ with .Site.GetPage "/popup"}}
    <div id="popup" class="modal" aria-hidden="true" data-date="{{ .Params.date }}">
        <div class="overlay" tabindex="-1" data-micromodal-close>
            <div class="dialog" role="dialog" aria-modal="true" aria-labelledby="thinkquicker">
                <header class="header">
                    <h2 class="titl">{{ .Title }}</h2>
                    <button class="close" aria-label="Close modal" data-micromodal-close>✖</button>
                </header>
                <div class="content">
                    {{ partial "image" (dict "src" .Params.image "thumb" "30x17 Center" "full" "440x248 Center q90") }}
                    {{ .Content }}
                    {{partial "button" (dict "text" .Params.callbutton "href" .Params.calllink)}}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</body>

</html>