{{define "main"}}
<article>
    {{ if .Params.Image }}
    <div class="featured {{ if not .Params.staticimage }}full-width{{ end }}">
        {{ if .Params.staticimage }}
        {{ partial "image" (dict "src" .Params.Image "thumb" "40x40" "full" "300x300" )}}
        {{ else }}
        {{ $scratch := newScratch }}
        {{ $scratch.Set "q" 80 }}
        {{ if .Params.imagequality }}
        {{ $scratch.Set "q" .Params.imagequality }}
        {{ end }}
        {{ $img := resources.Get .Params.Image }}
        {{ $img := $img.Fill (printf "1920x800 %s q%d" .Params.imageposition ($scratch.Get "q") ) }}
        <div class="parallax-window" data-parallax="scroll" data-image-src="{{ $img.Permalink }}" data-speed="0.7">
        </div>
        {{ end }}
    </div>
    {{ end }}
    <h2 id="page-title">{{ .Title }}</h2>
    {{.Content}}

    {{ if .Params.calltitle }}
    <h3 class="call-title">{{ .Params.calltitle }}</h3>
    {{ end }}
    {{ if .Params.callbutton }}
    {{partial "button" (dict "class" "center" "text" .Params.callbutton "href" .Params.calllink)}}
    {{ end }}
</article>

{{end}}