@font-face {
    font-family: "Balthazar";
    src: url("/fonts/Balthazar/Balthazar-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

:root {
    --site-width: 1170px;
    --sub-width: 700px;

    --color-primary: #DABF8C;
    --color-light: #ecead9;
}

body {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Balthazar", serif; */
    font-weight: 300;
    font-size: 1rem;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: "Balthazar", serif;
    font-weight: 400;
    color: #202020;
}

h2 {
    font-size: 2.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}


li {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

p {
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: #8d8df7;
}

img {
    display: block;
}

img.lazy {
    filter: blur(4px);
    transition: filter 200ms;
}

img.loaded {
    animation: fade-replace 400ms forwards;
    filter: blur(0);
}


main {
    padding: 0px 0;
}

.home main {
    padding-top: 40px;
}

main>section {
    max-width: var(--site-width);
    width: 90%;
    padding: 60px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

main>section.secondary {
    background: #efefef;
    padding: 100px 0;
}

main>section.dark {
    background: var(--color-light);
    padding: 100px 0;
}

main>section.secondary.with-call {
    padding-bottom: 60px;
}

main>section.full-width {
    width: 100%;
    max-width: 100vw;
}

main>article {
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

main>article>*:not(.full-width) {
    width: 90%;
    max-width: var(--sub-width);
}

article .parallax-window:first-child {
    margin-top: 0;
}

article .parallax-window {
    width: 100vw;
    min-height: 350px;
    margin: 20px 0 40px;
}


form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #ccc;
    margin: 5px 0 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    background: var(--color-primary);
    color: #121212;
    font-weight: 500;
}

.site-width {
    max-width: var(--site-width);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#page-title {
    font-size: 2.5rem;
    margin: 0 0 10px;
}

#mobile-menu-open {
    position: absolute;
    top: 65px;
    right: 50px;
    display: none;
    width: 40px;
    height: 40px;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
}

#mobile-menu-open img {
    width: 100%;
    height: 100%;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.call-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 2rem;
}

.call-title.left {
    text-align: left;
}

.call-subtitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.sub-width {
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.media-row {
    width: 90%;
    max-width: var(--site-width);
    display: grid;
    grid-template-columns: 40% 1fr;
    margin: 0 auto 40px;
}

.media-row .featured {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    margin-right: -40px;
    overflow: hidden;
}

.media-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.media-row .content {
    padding: 80px 0;
    z-index: 1;
}

.media-row .background {
    background: #fff;
    padding: 80px 120px 80px 60px;
}

.blurbs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.blurb {
    max-width: 320px;
    text-align: center;
    margin: 0 20px 40px;
}

.blurb img {
    width: 100%;
}

.blurb .title {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.blurb .button {
    margin-top: 10px;
}

.button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.button.center {
    justify-content: center;
}

.button a {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 3px;
    /* background: var(--color-primary); */
    background: transparent;
    /* color: #121212; */
    color: var(--color-primary);
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
}

.button a:hover {
    color: #202020;
}

#references li {
    font-size: 1.2rem;
}

#references a {
    color: #202020;
    text-decoration: none;
}

#references li:hover a {
    text-decoration: underline;
}

.page {
    padding-top: 0;
}

.page .cover {
    box-shadow: 0 0px 1px #0001;
    border-bottom: 1px solid #eee;
}

.page .button {
    margin-bottom: 1em;
}

.parallax-window {
    background: transparent;
}

.cover .parallax-window {
    min-height: 400px;
}

.parallax-mirror {
    z-index: 0 !important;
}


.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal .dialog {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.modal .header * {
    margin-bottom: 0;
}

.modal .close {
    cursor: pointer;
    background: transparent;
    border: 0;
    margin-left: 10px;
}

.modal img {
    width: 100%;
}

.form_message {
    background: var(--color-primary);
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 500;
}

.form_message.error {
    background: #e36c6c;
}

/* HOME PAGE */
#site-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    font-size: 1rem;
}

#site-title img {
    display: block;
    max-width: calc(100vw - 40px);
}

.cover {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.home #footer {
    background: #fff;
}

.home #footer svg {
    color: #121212;
}

.home #footer .social a {
    background: var(--color-primary) !important;
}

.opener {
    max-width: 800px;
}

.opener h3 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.professional img {
    object-position: top;
}

.steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    counter-reset: steps;
    color: inherit;
    text-decoration: none;
}

.steps .step {
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 10px 5px;
    text-align: center;
    margin-top: 3rem;
}

.steps .step::before {
    position: absolute;
    counter-increment: steps;
    content: counters(steps, ".", decimal-leading-zero);
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 3.2rem;
    transform: translateY(-100%);
    z-index: 1;
}

.steps img {
    width: 100%;
}

.steps p {
    margin-top: 10px;
    font-size: 2rem;
}

#footer {
    padding: 40px 0;
    background: var(--color-light);
}

#footer .call-title {
    font-size: 2.5rem;
}

#footer .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#footer .extra {
    margin-top: 20px;
    font-weight: 500;
}

#footer .extra a {
    font-size: 0.9rem;
    color: inherit;
    text-decoration: none;
}

#footer .extra a:hover {
    text-decoration: underline;
}

.references_link {
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    /* text-transform: uppercase; */
}

.references_link:hover {
    text-decoration: underline;
}

#testimonies .testimony {
    max-width: 800px;
    padding: 30px 20px 20px;
    border-radius: 4px;
    margin: 20px auto 40px;
    background: var(--color-light);
}

#testimonies .content {
    position: relative;
    padding: 0.5rem 0 0 1.4rem;
    box-sizing: border-box;
}

#testimonies .content::before {
    content: "“";
    position: absolute;
    left: 0;
    display: block;
    font-size: 3rem;
    font-family: balthazar, serif;
}


#testimonies .bio {
    flex-flow: row wrap;
    justify-content: flex-end;
    text-align: right;
}

#testimonies h3 {
    font-size: 1.5rem;
}

#testimonies .bio p {
    font-size: 1rem;
}

@keyframes fade-replace {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    #site-title {
        margin-top: 70px;
    }

    #mobile-menu-open {
        display: block;
    }

    .call-title {
        margin-bottom: 1rem;
    }

    .media-row {
        grid-template-columns: 1fr;
    }

    .media-row .featured {
        max-height: 350px;
        margin-right: 0;
        margin-bottom: -40px;
    }

    .media-row .content {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    .media-row .background {
        padding: 40px;
    }
}


@media (max-width: 600px) {
    .home #footer {
        background: var(--color-light);
    }

    main>section.secondary,
    main>section.dark {
        background: #fff;
        padding: 0 0 40px;
    }

    .media-row {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
    }

    .media-row .featured {
        margin: 0;
    }

    .media-row .content {
        width: 100%;
    }

    .media-row .background {
        padding-bottom: 0;
    }

    .call-title.left {
        text-align: center;
    }

    .button {
        justify-content: center;
    }

    .blurb {
        max-width: unset;
    }

    .steps {
        flex-flow: column nowrap;
        margin-bottom: 10px;
    }

    .steps .step {
        margin-bottom: 40px;
        max-width: unset;
    }
}