<footer id="footer">
    <div class="content sub-width">
        <h2 class="call-title">When It Comes to Taking Care of Your Health There’s no better Time to Start than TODAY
        </h2>
        {{ partial "social" . }}
        <div class="extra">
            <a href="/disclaimer/">Disclaimer</a>
        </div>
    </div>
</footer>