{{define "main"}}

<section class="full-width cover">
    {{$cover := resources.Get .Params.image }}
    {{$cover := $cover.Fill (printf "1920x550 q%d %s" .Params.imagequality .Params.imageposition)}}
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{$cover.Permalink}}" data-speed="0.7"></div>
</section class="full-width">

{{ .Content }}
{{ end }}
