<header id="main-menu">
    <nav>
        <div id="mobile-menu-close" class="menu-close">✖</div>
        <a href="/" class="menu-item home">Au Naturel</a>
        <a href="/about-us" class="menu-item">About Us</a>
        <a href="/our-approach" class="menu-item">Our Approach</a>
        <a href="/corporate-wellness/" class="menu-item">Corporate Wellness</a>
        <a href="/master-class/" class="menu-item">Master Class</a>
        <a href="/contact-us/" class="menu-item">Contact Us</a>
    </nav>
</header>