<form data-tasks='["admin","pdf"]'>
    <label>PDF
        <select name="PDF">
            <option value="immune-boosting">Get started with Immune Boosting</option>
            <option value="brain-health">Get started with Building Brain Health</option>
        </select>
    </label>
    <label>Name
        <input type="text" name="Name" required>
    </label>
    <label>Email Address
        <input type="email" name="Email" required>
    </label>
    <label>Time Zone
        <input type="text" name="Time Zone" required>
    </label>
    <input type="submit" value="Submit">
</form>