<form id="contact" data-tasks='["admin"]'>
    <label>Speaking Inquiries
        <input type="text" name="Speaking Inquiries">
    </label>
    <label>Name
        <input type="text" name="Name">
    </label>
    <label>Organization
        <input type="text" name="Organization">
    </label>
    <label>Email
        <input type="email" name="Email">
    </label>
    <label>Phone Number
        <input type="tel" name="Phone Number">
    </label>
    <label>Event Date
        <input type="date" name="Event Date">
    </label>
    <label>Event Location
        <input type="text" name="Event Location">
    </label>
    <label>Allotted Speaker Time
        <input type="text" name="Allotted Spearker Time">
    </label>
    <label>What is Your Speaking Budget
        <input type="text" name="Speaking Budget">
    </label>
    <label>Details
        <textarea name="Details" cols="30" rows="5"></textarea>
    </label>
    <label>Organization URL
        <input type="text" name="Organization URL" placeholder="{{ .Site.BaseURL }}">
    </label>
    <label>Additional Information About Your Event
        <textarea name="Additional Information" cols="30" rows="5"></textarea>
    </label>
    <input type="submit" value="Submit">
</form>