<section class="full-width with-call {{ .Params.class }}">
  <div class="media-row">
    <div class="featured">
      {{ partial "image" (dict "src" .Params.image "thumb" "50x50" "full" (printf "920x900 q90 %s" .Params.crop))}}
    </div>
    <div class="content">
      <div class="background">
        {{ if isset .Params "title"}}
          <h2 class="call-title left">{{ .Params.title }}</h2>
        {{ end }}
        {{ .Inner }}
        {{partial "button" (dict "text" .Params.button "href" .Params.link)}}
      </div>
    </div>
  </div>
</section>
