{{$img := resources.Get (printf "img/%s" .Params.Image)}}
{{$img := $img.Fill "600x350"}}

<div class="image-row">
    <img src="{{$img.Permalink}}" alt="">
    <p class="content">{{.Inner}}</p>
</div>