<form id="signup" data-tasks='["admin","client"]'>
    <label>
        Name
        <input type="text" name="Name" required>
    </label>
    <labeL>
        Email Address
        <input type="email" name="Email" required>
    </labeL>
    <labeL>
        Phone Number
        <input type="tel" name="Phone" required>
    </labeL>
    <label>
        Country
        <input type="text" name="Country">
    </label>
    <label>
        State
        <input type="text" name="State">
    </label>
    <label>
        Time Zone
        <input type="text" name="Time Zone" required>
    </label>
    <label>
        Interest
        <input type="text" name="Interest">
    </label>
    <input type="submit" value="Submit">
</form>